<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://unrealfuncappsgx3rrvec6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b5b0b80e-632a-46a4-b2a2-350dc4d3a17c/resourceGroups/testrg7/providers/Microsoft.Web/sites/unrealfuncappsgx3rrvec6</ResourceId>
    <UserName>$unrealfuncappsgx3rrvec6</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://unrealfuncappsgx3rrvec6.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>